* {
    margin: 0px;
    padding: 0px;
    
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}

.mainDiv p {
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 28%, rgba(8, 28, 133, 1) 52%, rgba(196, 0, 255, 1) 100%);
    min-height: 30px;
    min-width: 280px;
} 
span {
    display:  inline-block;
    width: 80px;
} 
 #startBtn, #pauseBtn, #resetBtn {
    width: 80px;
    font-size: 20px;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    border-radius: 20px;
    border: 2px solid rgb(140, 0, 255);
} 
#startBtn:hover, #pauseBtn:hover, #resetBtn:hover {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(140, 30, 164, 1) 0%, rgba(8, 28, 133, 1) 36%, rgba(0, 255, 244, 1) 91%);
    color: white;
    border: 2px solid white;
}

